/* Import Font Files */
@font-face {
    font-family: 'PixelCowboy';
    src: url('../resources/PixelCowboy.otf') format('opentype'),
         url('../resources/PixelCowboy.woff') format('woff'),
         url('../resources/PixelCowboy.woff2') format('woff2'); 

}



.title-screen {
    font-family: 'PixelCowboy', sans-serif;
    font-size: 5rem;
    text-align: center;
}