/* Import Font Files */
@font-face {
    font-family: 'PixelCowboy';
    src: url('fonts/PixelCowboy.otf') format('opentype'),
         url('fonts/PixelCowboy.woff') format('woff'),
         url('fonts/PixelCowboy.woff2') format('woff2');

}

@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.ttf') format('truetype');

}

/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Press Start 2P', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../resources/Pbackground.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Header styles */
header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: 10%; /* Set a percentage height for the navigation */
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    font-size: .75rem;
    color: #FFFAFF;
}

nav ul li a img {
    width: 60px; /* Adjust the width to your preferred size */
    height: auto; /* Maintain aspect ratio */
}

/* Footer styles */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21242E;
    color: #FFFAFF;
    text-align: left;
    padding: 20px;
    margin-top: auto;
}

.footer p {
    margin: 0; /* Remove default margin */
}

.footer img {
    width: 40px; /* Adjust the width to your preferred size */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Add some spacing between images */
}


/* Main content styles */
main {
    padding: 20px;
}

.start-title {
    font-family: 'PixelCowboy', sans-serif;
    font-size: 5rem;
    text-align: center;
    color: #FDC601;
    margin-bottom: 20px;
    text-shadow: 
    -3px -3px 0 #FFFAFF, /* Top-left border */
    3px -3px 0 #21242E, /* Top-right border */
    -3px 3px 0 #21242E, /* Bottom-left border */
    3px 3px 0 #21242E; /* Bottom-right border */
}

button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5rem;
    background-color: #21242E;
    border: 3px solid #FDC601;
    color:#FDC601;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    -webkit-box-shadow: -3px -3px 1px #FFFAFF;
    -moz-box-shadow: -3px -3px 1px #FFFAFF;
    box-shadow: -3px -3px 1px #FFFAFF;
}

button:hover {
    -webkit-box-shadow: 3px 3px 0px #21242E; /* For WebKit browsers */
    -moz-box-shadow: 3px 3px 0px #21242E; /* For Mozilla browsers */
    box-shadow: 3px 3px 0px #21242E; /* Standard */
}

.title-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}