/* Import Font Files */
@font-face {
    font-family: 'PixelCowboy';
    src: url('fonts/PixelCowboy.otf') format('opentype'),
         url('fonts/PixelCowboy.woff') format('woff'),
         url('fonts/PixelCowboy.woff2') format('woff2');

}

@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.ttf') format('truetype');

}

/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('../resources/Cursor.png'), auto;
}

/* Body styles */
body {
    font-family: 'Press Start 2P', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../resources/Pbackground.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Header styles */
header {
    background-color: #21242E;
    padding: 1rem;
    border-bottom: 0.15rem solid #58666F;
    color: #FFFAFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    height: 10%; /* Set a percentage height for the navigation */
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Change from 'center' to 'space-between' */
    height: 100%;
}


nav ul li a {
    font-size: .90rem;
    color: #FFFAFF;
}

nav ul li a img {
    width: 3rem; /* Adjust the width to your preferred size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 2.25rem;
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21242E;
    padding: 0.5rem;
    margin-top: auto;
}
footer img {
    width: 2.5rem;
    height: auto; 
    margin-left: 1rem;
}

#bar {
    height: 3.25rem;
    width: auto;
}

/* Main content styles */
main {
    padding: 1rem;
}

.start-title {
    font-family: 'PixelCowboy', sans-serif;
    font-size: 5rem;
    text-align: center;
    color: #FDC601;
    margin-bottom: 1.75rem;
    text-shadow: 
    -0.2rem -0.2rem 0 #FFFAFF, /* Top-left border */
    0.2rem -0.2rem 0 #21242E, /* Top-right border */
    -0.2rem 0.2rem 0 #21242E, /* Bottom-left border */
    0.2rem 0.2rem 0 #21242E; /* Bottom-right border */
}

button {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5rem;
    background-color: #21242E;
    border: 0.2rem solid #FDC601;
    color:#FDC601;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    vertical-align: middle;
    margin: 1rem;
    -webkit-box-shadow: -0.2rem -0.2rem 0rem #FFFAFF;
    -moz-box-shadow: -0.2rem -0.2rem 0rem #FFFAFF;
    box-shadow: -0.2rem -0.2rem 0rem #FFFAFF;
}
button:hover {
    -webkit-box-shadow: 0.2rem 0.2rem 0rem #21242E; /* For WebKit browsers */
    -moz-box-shadow: 0.2rem 0.2rem 0rem #21242E; /* For Mozilla browsers */
    box-shadow: 0.2rem 0.2rem 0rem #21242E; /* Standard */
}
.exit {
    font-size: 1rem;
    color: #D8315B;
    border: 0.2rem solid #D8315B;
}


.title-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: fixed;
    top: 20rem; /* Adjust the vertical position */
    right: 2rem; /* Adjust the horizontal position */
    transform: translateY(-17rem);
    width: 60rem;
    height: 35rem;
    background-color: #FFFAFF;
}
