{% extends "layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block main %}
    <!-- Add the content specific to encyclopedia -->
    <div class="container">
        <header>
            <div>
                <h1>Encyclopedia</h1>
            </div>
            <div>
                <a href="/computer.html"><button class="exit">X</button></a>
            </div>
        </header>
        <div class="content">
            <div>
                <img src="../static/resources/PAfrican.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>African Penguin</h2>
                <p>Region of Origin: Southwestern Africa (Namibia and South Africa).</p>
                <p>Diet: Mainly fish, such as anchovies and sardines.</p>
                <p>Average Lifespan: 10-15 years in the wild.</p>
                <p>Endangered Status: Endangered (IUCN Red List).</p>
                <p>Fun Fact: Recognizable by the thin black line that runs under their chin, resembling a strap holding a helmet, giving them their name.</p>
            </div>
        </div>
        <div class="alt-content">
            <div>
                <img src="../static/resources/PChinstrap.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>Chinstrap Penguin</h2>
                <p>Region of Origin: Antarctic Peninsula, South Shetland, South Orkney, and South Sandwich Islands.</p>
                <p>Diet: Krill, fish, and squid.</p>
                <p>Average Lifespan: Around 15-20 years in the wild.</p>
                <p>Endangered Status: Least Concern (IUCN Red List)</p>
                <p>Fun Fact: King penguins are the second-largest penguin species and have a distinctive orange patch on their neck.</p>
            </div>
        </div>
        <div class="content">
            <div>
                <img src="../static/resources/PGentoo.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>Gentoo Penguin</h2>
                <p>Region of Origin: Subantarctic and Antarctic islands, including South Georgia, Falkland Islands, and the Antarctic Peninsula.</p>
                <p>Diet: Mainly krill, fish, and squid.</p>
                <p>Average Lifespan: Approximately 15-20 years in the wild.</p>
                <p>Endangered Status: Near Threatened (IUCN Red List).</p>
                <p>Fun Fact: Gentoo penguins are the third-largest penguin species and are known for their prominent orange-red beaks and white patches behind their eyes.</p>
            </div>
        </div>
        <div class="alt-content">
            <div>
                <img src="../static/resources/PHumboldt.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>Humboldt  Penguin</h2>
                <p>Region of Origin:South America, particularly along the coasts of Peru and Chile.</p>
                <p>Diet: Fish, especially anchovies and sardines.</p>
                <p>Average Lifespan: Approximately 15-20 years in the wild.</p>
                <p>Endangered Status: Vulnerable (IUCN Red List).</p>
                <p>Fun Fact: Named after the Humboldt Current, these penguins can endure warmer climates compared to some other species.</p>
            </div>
        </div>
        <div class="content">
            <div>
                <img src="../static/resources/PKing_.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>King Penguin</h2>
                <p>Region of Origin: Subantarctic islands, including South Georgia, Prince Edward, and Falkland Islands.</p>
                <p>Diet: Fish and squid.</p>
                <p>Average Lifespan: 20-26 years in the wild.</p>
                <p>Endangered Status: Least Concern (IUCN Red List).</p>
                <p>Fun Fact: King penguins are the second-largest penguin species and have a distinctive orange patch on their neck.</p>
            </div>
        </div>
        <div class="alt-content">
            <div>
                <img src="../static/resources/PMacaroni.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>Macaroni Penguin</h2>
                <p>Region of Origin: Antarctic and subantarctic regions, including the Antarctic Peninsula and various islands.</p>
                <p>Diet: Mainly krill, squid, and small fish.</p>
                <p>Average Lifespan: About 10-15 years in the wild.</p>
                <p>Endangered Status:  Vulnerable (IUCN Red List).</p>
                <p>Fun Fact: Their name "macaroni" originates from an 18th-century fashion trend called "macaroni" characterized by flamboyant feathers, resembling the penguin's crest.</p>
            </div>
        </div>
        <div class="content">
            <div>
                <img src="../static/resources/PMagellanic.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>Magellanic Penguin</h2>
                <p>Region of Origin: South America, specifically the coasts of Argentina, Chile, and the Falkland Islands.</p>
                <p>Diet: Mainly fish, such as anchovies and sardines.</p>
                <p>Average Lifespan: Around 25 years in the wild.</p>
                <p>Endangered Status: Near Threatened (IUCN Red List).</p>
                <p>Fun Fact:They form large breeding colonies and are known for their distinctive horseshoe-shaped bands across their chests.</p>
            </div>
        </div>
        <div class="alt-content">
            <div>
                <img src="../static/resources/PRockhopper.png" alt="King Penguin">
            </div>
            <div class="text">
                <h2>Southern Rockhopper Penguin</h2>
                <p>Region of Origin:  Subantarctic and southern parts of South America, islands in the Indian and Pacific Oceans.</p>
                <p>Diet: Predominantly krill and small fish.</p>
                <p>Average Lifespan: Approximately 10 years in the wild.</p>
                <p>Endangered Status: Vulnerable (IUCN Red List).</p>
                <p>Fun Fact: Known for their distinctive yellow-orange eyebrows and the characteristic hopping movement..</p>
            </div>
        </div>
    </div>
{% endblock %}
