<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Letter</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/main.js"></script>
    </head>
    <body>
        <div id="Letter">
            <h1>Welcome to the Waddle Inn!</h1>
            <div>
                <h2>Congrats on your first day working as an intern for the first and famous penguin hotel! Your first job will be to go into our company computer and perform check-in for the following guest. The guest profile (including a picture just in case they are waiting at the lobby) is shown below:</h2>
            </div>
            <div>
                (nonsense)
                (image) 
            </div>
            <div>
                Best of lucks and if you have any questions check (clues for searching) 
            </div>            
        </div>
    </body>
</html>