{% extends "layout.html" %}

{% block title %}
    Penguin Database Query
{% endblock %}

{% block tab %}
    Penguin Guest Database Search
{% endblock %}

    {% block main %}
    <section class="letter">
        <div>
            <h2>Welcome to the Waddle Inn!</h2>
            <div>
                <p>Congrats on your first day working as an intern for the first and most famous penguin hotel! Your job is to go on our company computer and check-in the following guest. The guest's information (including a picture just in case they are waiting at the lobby) is shown below:</p>
            </div>


            <div class="content-container">
                <div class="text-content">
                    <p>Name: ???</p>
                    <p>Species: {{species}}<p>
                    <p>Origin: {{origin}}</p>
                    <p>Location: {{location}}</p>
                    <p>Sex: {{sex}}</p>
                    <p>Age: {{age}}</p>
                </div>
                <img src="{{ url_for('static', filename=image) }}" alt="Guest Image" class="side-image">
            </div>




            <div>
                <p>Best of luck! If you have any questions, check the encyclopedia and database search!</p>
            </div>
            <a href="/computer.html"><button>Go to Computer</button></a>
                     
        </div>
    </section>
    {% endblock %}

    {% block script %}
    {{ super() }} {# Includes the scripts from the layout file #}

    <!-- <script>
        window.onload = function() {
            alert("Welcome to the penguin hotel team! You have received a letter, but water splashed onto it and some info is missing!");
        };
    </script> -->

    {% endblock %}
</html>