{% extends "layout.html" %}

{% block title %}
    Penguin Database Query
{% endblock %}
    {% block main %}
    <div class="container">
        <header>
            <div>
                <h1>Guest Penguin Database Search</h1>
            </div>
            <div>
                <a href="/computer.html"><button class="exit">X</button></a>
            </div>
        </header>

    <select name="category" id="category-dropdown">
        <option value="">Select a Category</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>


    <select name="option" id="options-dropdown" disabled>
        <option value="">Select an Option</option>
    </select>


    <table class="table tablestriped" id="penguins-table">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Species</th>
                <th class="text-start">Origin</th>
                <th class="text-start">Location</th>
                <th class="text-start">Sex</th>
                <th class="text-start">Age</th>
                <th class="text-end"></th>
            </tr>
        </thead>
       <tbody>
            <!--{% for penguin in matchingpenguins %}
                <tr>
                    <th class="text-start">penguin.Name</th>
                    <th class="text-start">penguin.Species</th>
                    <th class="text-start">penguin.Origin</th>
                    <th class="text-start">penguin.Location</th>
                    <th class="text-start">penguin.Sex</th>
                    <th class="text-start">penguin.Age</th>
                </tr>
            {% endfor %}-->
        </tbody>
    </table>
    <script src="../static/js/main.js"></script>
    </div>
    {% endblock %}
</html>