<!DOCTYPE html>
<html>
<head>
    <title>Penguin Database Query</title>
</head>
<body>
    <h2>Penguin Information Query</h2>

    <select name="category" id="category-dropdown">
        <option value="">Select a Category</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>

    <select id="options-dropdown" disabled>
        <option value="">Select an Option</option>
    </select>

    <script src="../static/js/main.js"></script>
</body>
</html>