{% extends "layout.html" %}

{% block title %}
    Starred Penguin Guests
{% endblock %}

{% block tab %}
    Starred Penguin Guests
{% endblock %}

    {% block main %}
    <table class="table tablestriped" id="penguins-table">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Species</th>
                <th class="text-start">Origin</th>
                <th class="text-start">Location</th>
                <th class="text-start">Sex</th>
                <th class="text-start">Age</th>
            </tr>
            {% for penguin in starred_penguins %}
            <tr>
                <td>{{ penguin.Name }}</td>
                <td>{{ penguin.Species }}</td>
                <td>{{ penguin.Origin }}</td>
                <td>{{ penguin.Location }}</td>
                <td>{{ penguin.Sex }}</td>
                <td>{{ penguin.Age }}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
    <script src="../static/js/main.js"></script>
    </div>
    {% endblock %}
</html>