<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Waddle We Find Start</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/main.js"></script>
    </head>
    <body>
        <section class="title-screen">
            <div class="start-title">Waddle We Find?</div>
            <a href = "letter.html"><button>Press to Start Game</button></a>
            <img src="../resources/Pbackground.jpg" alt="Description of the image"> 
        </section>
    </body>
</html>
